<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.moonma.caicailefruit.pad" xmlns:tools="http://schemas.android.com/tools" android:versionName="1.0.0" android:versionCode="100" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:isGame="true" >
    <activity android:label="@string/app_name" android:name="com.moonma.unity.UnityPlayerActivity" android:screenOrientation="sensorLandscape" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection">
      <!--reverseLandscape  ng  android:screenOrientation="sensorLandscape" -->
      <intent-filter>--&gt;
      <action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /><category android:name="android.intent.category.LEANBACK_LAUNCHER" /></intent-filter>--&gt;
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" /></activity>
      
    <activity android:name="com.moonma.common.AdInsertActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:screenOrientation="sensorLandscape">
    </activity>

<!-- xiaomi ad sdk -->
    <activity
        android:name="com.xiaomi.ad.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:exported="false"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        
     <!-- umeng -->
        <meta-data android:value="568e1736e0f55aba970013a4" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="umeng" android:name="UMENG_CHANNEL"/>

    <!-- gdt ad -->
    <meta-data android:name="GDT_AD_APPID" android:value="1105773993" />
    <meta-data android:name="GDT_AD_BANNER" android:value="\ 3010915853292403" />
    <meta-data android:name="GDT_AD_INSERT" android:value="\ 4060017873092485" />
    <meta-data android:name="GDT_AD_SPLASH" android:value="\ 6040213833694490" />
    <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
    <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
    <activity android:name="com.qq.e.ads.ADActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
  </application>
  <!--unity -->
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <!-- GDT SDK 相关声明 -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <!-- 如果需要精确定位的话请加上此权限 -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
  <uses-feature android:name="android.hardware.vulkan" android:required="false" />
</manifest>